*{

}
body{
	margin: 0;
}
header{
	background-color: #2189bf;
	height: 60px;
	min-width: 600px;
	position: relative;
	color: white;
}
header .logo{
	background-image: url(logo.png);
	width: 36px;
	height: 36px;
	position: absolute;
	margin: auto;
	left: 12px;
	top: 0;
	bottom: 0;
}
header .search{
	position: absolute;
	margin: auto;
	width: 500px;
	height: 27px;
	right: 12px;
	top: 0;
	bottom: 0;
	text-align: right;
}
header input{
	height: 25px;
	padding: 0;
	border-radius: 13px;
	border: none;
	width: 300px;
	text-indent: 10px;
}
header button{
	position: relative;
	right: 40px;
	border:none;
	background-color: white;
	color: white;
}
#search-icon{
	position: absolute;
	right:80px; 
	margin: auto;
	top: 0;
	bottom: 0;
}
/* aside */
aside{
	background-color: #2a2e3d;
	color: #6e8096;
	position: fixed;
	float: left;
	height: 100%;
	width: 270px;
}
aside div:first-child{
	margin-left: 50px;
	margin-top:  25px;
	position: relative;
}
aside div:first-child span{
	position: absolute;
	color: white;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 70px;
	height: 30px;
}
aside div:nth-child(3){
	margin-left: 50px;
}

/* right div ; margin-left = float-div's width*/
.right{
	margin-left: 270px;
	background-color: #eeeeed;
}
.right nav{
	padding: 5px 0 5px 15px;
	background-color: white;
	color: #b7b7b7;
	font-size: 12px;
}

/* sec1 */
.right .sec1{
	margin: 10px;
	padding: 10px;
	border: solid 1px #dddee0;
	background-color: white;
	min-width: 600px;
	color: #aaaea0;
	font-size: 12px;
	text-align: center;
}
.right form{
	height: 50px;
	width: 85%;
}
.right form .first, .right form .second{
	width: 25%;
	height: 100%;
	border: solid 1px black;
	float: left;
	box-sizing: border-box;
}
.right form .third{
	width: 47%;
	height: 100%;
	box-sizing: border-box;
	border: solid 1px black;
	float: left;
}
.right .second-cell{
	height: 50%;
}
.right select{
	width: 60%;
}
/* sec2 */
.sec2{
	height: 200px;
}