*{
}

.main>div{
	padding: 20px;
	border: solid 1px grey;
	background-color: white;
}

.pic{
	width: 80px;
	padding: 1px;
	border: solid 1px grey;
	display: inline-block;
}
.pic img{
	display: block;
	width: 80px;
	height: 80px;
}
/*  */
.main{
	padding: 20px;
	border: solid 1px grey;
	background-color: #ddd;
	overflow: visible;

	position: relative;
	/*height: 600px;*/
}
.sec1{
	width: 200px;
}
.sec2{
	position: absolute;
	top: 20px;
	left: 280px;
	right: 160px;
}
.sec3{
	width: 80px;
	position: absolute;
	top: 20px;
	right: 20px;
}