body{
	margin: 0;
}
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header div{
	width: 150px;
	border: solid 1px red;
	padding: 20px;
	margin: 10px 0;
}
header .one{
	height: 120px;
}
header .two{
	height: 100px;
}
header .three{
	height: 40;
}
header .four{
	height: 200px;
	border-color: blue;
}

@media (max-width: 768px){
	header{
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.four{
		order: -1;
	}
}
