body{
	margin: 0;
}
header{
	position: relative;
	height: 40px;
	line-height: 40px;
	background-color: #91d4da;
	color: white;
	text-align: center;

}
header div{
	position: absolute;
	left: 40px;
}
header div:before,header div:after{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: -20px;
	width: 0;
	height: 0;
	border-top: solid 13px transparent;
	border-right: solid 13px white;
	border-bottom: solid 13px transparent;
	content: ' ';
} 
header div:after{
	border-right: solid 13px #91d4da;
	left: -15px;
}